language: python
python:
    - "2.7"
    - "3.2"
    - "3.3"
    - "pypy"
install:
    - pip install -r requirements.txt
    - pip install PyVirtualDisplay
    - sudo apt-get update
    - sudo apt-get install xvfb
script:
    - python runtests.py --headless